{% extends 'base.html' %}

{% load static %}

{% block page_title %}親族・家庭内トラブル｜千葉県佐倉市で弁護士に相談{% endblock %}

{% block extra_css %}{% endblock %}


{% block content %}
<section class="page-title">
    <div class="container">
        <div class="row">
            <div class="col col-xs-12">
                <h2>FAQ</h2>
                <p>よくあるご質問</p>
            </div>
        </div>
    </div>
</section>




<section class="faq-pg-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                <div class="section-title-s3">
                    <div class="icon">
                        <i class="fi flaticon-suitcase"></i>
                    </div>
                    <span>FAQ</span>
                    <h2>よくあるご質問</h2>
                    <p></p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col col-xs-12">
                <div class="panel-group faq-accordion theme-accordion-s1" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse-1"
                                aria-expanded="true">弁護士に相談すべき問題かどうか分からないのですが、お話を聞いていただくことはできますか？</a>
                        </div>
                        <div id="collapse-1" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <p>自分で判断がつかないような問題でも、法的に解決できる問題かもしれません。
                                    お気軽にご相談ください。</p>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                href="#collapse-2">勤め先や家族に相談することを知られたくないのですが？</a>
                        </div>
                        <div id="collapse-2" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>弁護士には守秘義務がありますから、第三者に相談内容が漏れることはありません。
                                    安心してご相談ください。 </p>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                href="#collapse-3">営業時間内（平日９時３０分～１８時まで）に相談できないのですが？</a>
                        </div>
                        <div id="collapse-3" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>営業時間内にご都合がつかない方は、お問い合わせの際に、お気軽にご相談ください。</p>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                href="#collapse-4">予約なしに事務所に相談に行ってもいいですか？</a>
                        </div>
                        <div id="collapse-4" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>まず、「お電話」もしくは当ホームページの「お問い合わせフォーム」でご予約をしてからお越しください。</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% block extra_js %}{% endblock %}
{% endblock %}